.all-itens {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
img { 
    width: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
#collapsibleNavId {
    gap: 30px;
    text-align: center;
}
body {
    background-color: #2D1246;
}
