.Navegador-1 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    gap: 20px;
}
.Navegador-2 {
     justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    gap: 20px;
    
   
   
}
.Navegador-3 {
      justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 250px;
    gap: 20px;
    background-colo: rgb(24, 187, 92);
    
    
}
